<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="http://www.gravatar.com/avatar/e8a78675b2e22a5eda938f7146af689c">
            </a>
            <div class="content">
                <a class="header">Robert Layton</a>
                <div class="description">
                    <p>Data scientist, hacker/maker and programmer from Regional Victoria, Australia</p>
                </div>
            </div>
        </div>
    </div>
</div>
